<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="CalculationEngine.CalculationEngineService">
				<endpoint address="net.tcp://localhost:11128/CE/ICalculationEngineServiceContract/" binding="netTcpBinding" contract="Common.CalculationEngine.ICalculationEngineServiceContract"
					bindingConfiguration="streamBinding"/>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="binding" maxReceivedMessageSize="2147483647"/>
				<binding name="streamBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647"/>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="endpointNMS" binding="netTcpBinding" address="net.tcp://localhost:11123/NMS/GDA/" bindingConfiguration="streamBinding"
				contract="Common.GDA.INetworkModelGDAContract"/>
			<endpoint name="endpointSCADA" binding="netTcpBinding" address="net.tcp://localhost:11127/SCADA/ISCADAServiceContract/" bindingConfiguration="streamBinding" contract="Common.SCADA.ISCADAServiceContract"/>
			<endpoint name="callbackEndpoint" binding="netTcpBinding" address="net.tcp://localhost:11124/ITransactionManager/" bindingConfiguration="binding"
				contract="Common.Transaction.ITransactionManager"/>
			<endpoint name="publishingEndpoint" binding="netTcpBinding" address="net.tcp://localhost:11125/PubSub/IPublishing" bindingConfiguration="binding"
				contract="Common.PubSub.IPublishing"/>
		</client>
	</system.serviceModel>
</configuration>