<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<system.serviceModel>
		<services>
			<service name="SCADA.SCADAService">
				<endpoint address="net.tcp://localhost:11127/SCADA/ISCADAServiceContract/" binding="netTcpBinding" contract="Common.SCADA.ISCADAServiceContract"
					bindingConfiguration="streamBinding"/>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="binding" maxReceivedMessageSize="2147483647"/>
				<binding name="streamBinding" transferMode="Streamed" maxReceivedMessageSize="2147483647"/>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="endpointNMS" binding="netTcpBinding" address="net.tcp://localhost:11123/NMS/GDA/" bindingConfiguration="streamBinding"
				contract="Common.GDA.INetworkModelGDAContract"/>
			<endpoint name="callbackEndpoint" binding="netTcpBinding" address="net.tcp://localhost:11124/ITransactionManager/" bindingConfiguration="binding"
				contract="Common.Transaction.ITransactionManager"/>
			<endpoint name="publishingEndpoint" binding="netTcpBinding" address="net.tcp://localhost:11125/PubSub/IPublishing" bindingConfiguration="binding"
				contract="Common.PubSub.IPublishing"/>
		</client>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>