<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
		  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		  <section name="entityFramework"
			 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			 requirePermission="false"/>
	 </configSections>
	 <startup> 
		  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	 </startup>
	<system.serviceModel>
		<services>
			<service name="NMS.GenericDataAccess">
				<endpoint address="net.tcp://localhost:11123/NMS/GDA/" binding="netTcpBinding" contract="Common.GDA.INetworkModelGDAContract" bindingConfiguration="binding"/>
			</service>
		</services>
		<bindings>
		  <netTcpBinding>
				<binding name="binding" transferMode="Streamed" maxReceivedMessageSize="2147483647"/>
				<binding name="duplexBinding" maxReceivedMessageSize="2147483647"/>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="callbackEndpoint" binding="netTcpBinding" address="net.tcp://localhost:11124/ITransactionManager/" bindingConfiguration="duplexBinding" contract="Common.Transaction.ITransactionManager"/>
			<endpoint name="SCADAEndpoint" binding="netTcpBinding" address="net.tcp://localhost:11130/SCADA_Service/SCADAService/" bindingConfiguration="binding" contract="Common.SCADA.ISCADAServiceContract"/>
		</client>
	</system.serviceModel>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
		</providers>
	</entityFramework>
</configuration>