<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="NMS.GenericDataAccess">
				<endpoint binding="netTcpBinding" contract="Common.GDA.INetworkModelGDAContract"/>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:11123/NMS/GDA/"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>