<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="binding" transferMode="Streamed" maxReceivedMessageSize="2147483647"/>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="endpointNMS" binding="netTcpBinding" address="net.tcp://localhost:11123/NMS/GDA/" bindingConfiguration="binding" contract="Common.GDA.INetworkModelGDAContract"/>
		</client>
	</system.serviceModel>
</configuration>